<div class="container mt-5 pb-5">
  {{#if edit}}
  <form id="gender-form" action="/genders/{{gender.id}}/edit" method="POST" enctype="multipart/form-data">
    {{else}}
    <form id="gender-form" action="/genders/new" method="POST" enctype="multipart/form-data">
      {{/if}}


      {{!-- NAME --}}
      <div class="form-group">
        <label for="name">Name:</label>
        <input name="name" type="text" class="form-control {{#if error.name }}is-invalid{{/if}}" id="name"
          value="{{ gender.name }}" placeholder="Gender name"></input>
      </div>

      {{!-- IMAGE --}}
      <div class="form-group">
        <label for="image">Image:</label>
        <input name="image" type="file" class="form-control-file {{#if error.image }}is-invalid{{/if}}" id="image"
          placeholder="Gender image" value="{{ gender.image }}">
      </div>

      {{!-- DESCRIPTION --}}
      <div class="form-group">
        <label for="description">Description (max: 100 chars):</label>
        <input name="description" type="text" class="form-control {{#if error.description }}is-invalid{{/if}}"
          id="description" maxlength="100" value="{{ gender.description }}" placeholder="Gender description"></input>
      </div>

      <button type="submit" class="btn btn-primary btn-outline btn-sm">
        {{#if edit}}
        Edit gender!
        {{else}}
        Create gender!
        {{/if}}
      </button>

      <a href="/genders" class="btn btn-danger btn-outline btn-sm">Back to genders</a>
    </form>
</div>