<div class="container-fluid user-resume">
    {{>aside}}
    <div class="user-body">
        {{#each user.chatrooms as |chat|}}
        <a href="/games/{{chat.game}}/chat">
            <div class="container-chats">
                <img src="{{chat.cover}}" alt="image">
                <p>{{chat.game}}</p>
                <p>{{chat.createdAt}}</p>
                <p>{{chat.users}}</p>
            </div>
        </a>
        {{/each}}
    </div>
</div>