<div class="container-fluid user-resume">
 {{>aside}}
<div class="user-body">
  <div class="create-box border-blue-light mt-1">
      <img src="{{user.avatar}}" class="avatar2 border-blue-light" alt="Avatar Image">
      <h1>Edit User</h1>
      <form method="post" action="/user/{{currentUser.nickName}}/edit" autocomplete="off">
        
        <label for="username" >Name</label>
        <input type="text" placeholder="{{user.name}}" name="name" class="input-style input-100" value="{{user.name}}">

        <label for="username" >Last name</label>
        <input type="text" placeholder="{{user.lastname}}" name="lastname" class="input-style input-100" value="{{user.lastName}}">

        <label for="username" >Email</label>
        <input type="text" placeholder="{{user.email}}" name="email" class="input-style input-100" value="{{user.email}}">
        
        <button type="submit" class="login-submit blue-light hover-blue-dark">Edir User</button>
      </form>
    </div>
</div>
</div>
   
</div>
</div>