<div class="inbox">
  <div class="inbox-functions">
    <a href="/users/{{myID}}/inbox">Inbox</a>
    <a href="/users/{{myID}}/outbox">Sent</a>
  </div>

  <div class="inbox-container">
    {{#each messages as |message|}}
    <div class="inbox-email {{#messageRead message.msgState}}message-read{{/messageRead}}">
      <div>
        <a href="/users/{{../myID}}/inbox/{{message._id}}/show" class="hp-10 fa fa-eye"></a>
        <a href="/users/{{../myID}}/inbox/{{message._id}}/delete" class="hp-10 fa fa-trash"></a>
      </div>
      <p class="inbox-email-nick">{{message.myUser.nickName}}</p>
      <div class="vertical-split"></div>
      <div class="inbox-email-info">
        <p>
          <span class="inbox-email-subject">{{message.subject}} - </span>
          <span class="inbox-email-body"> {{message.body}}</span>
        </p>
      </div>
      <div class="vertical-split"></div>
      <p class="inbox-email-date">{{date message.createdAt}}</p>
    </div>
    {{/each}}
  </div>

</div>