<div class="container-fluid user-resume">
 {{>aside}}
<div class="user-body">
   <div class="container">
    <div class="avatar">
        <img src="{{user.avatar}}" alt="img">
    </div>
    <div class="user-info">
        <div class="item">
            <p>Name: {{user.name}}</p>
            <p>Lastname: {{user.lastName}}</p>
            <p>Nickname: {{user.nickName}}</p>
            <p>createdAt: {{user.createdAt}}</p>
            {{#equals user.rol 'Admin'}}
            <p>Rol: {{user.rol}}</p>
            <p>Banned: {{user.banned}}</p>
            {{/equals}}
        </div>
    </div>
</div>
</div>
   
</div>
</div>


