<div class="chat-room">

  {{!-- USERS--}}
  <div class="game-users">
    <p class="users-title">Users in the room ({{usersCount}})</p>
    <div class="users-box hp-5">
      {{#each chatRoom.users as |user|}}
      <div class="vm-10 chat-user-detail">
        <p class="hp-5 font-weight-bold">{{user.name}}</p>

        <div class="user-actions">

          {{#isNotFriend ../friends user.id}}
          <button id="{{user.id}}" onclick="friendInvitation('{{user.id}}')" type="submit"
            class="{{#isFriend ../friendsPending user.id}}button-friend-pending{{else}}button-friend{{/isFriend}}
            hp-5 fa fa-user-plus"></button>
          {{/isNotFriend}}
          
          <form action="#" method="POST">
            <button type="submit" class="button-friend hp-5 fa fa-info-circle"></button>
          </form>

          {{#isFriend ../friends user.id}}
          <form action="/users/{{user.id}}/{{../game.name}}/privateMessage" method="GET">
            <button id="{{user.id}}" type="submit"
              class="button-friend hp-5 fa fa-envelope"></button>
          </form>
          {{/isFriend}}

        </div>

      </div>
      {{/each}}
    </div>
  </div>

  <div class="vertical-split"></div>

  {{!-- CHAT --}}
  <div class="game-chat">
    <div class="game-title hp-10">
      <img class="hp-10" src="{{game.cover}}">
      <h1 class="hp-10"> {{game.name}}</h1>
    </div>
    <div class="chat-box">
      {{#each chats as |chat|}}
      <p><span class="font-italic font-weight-bold">({{date chat.createdAt}}) <a href="#"
            class="font-weight-bold">{{chat.user.nickName}}: </a></span>
        <span class="users-message">{{chat.userMsg}}</span></p>
      {{/each}}
    </div>

    {{!-- SEND MESSAGE TO CHAT --}}
    <div class="chat-message">
      <form class="w-100" action="/games/{{chatRoom.id}}/{{game.name}}/newMessage" method="POST" autocomplete="off">
        <input class="message" type="text" name="message" placeholder="Enter message...">
        <button class="btn-send" type="submit">Send</button>
      </form>
    </div>
  </div>

</div>

<script>
  function friendInvitation(id) {
    axios.post(`/users/${id}/friendInvitation`)
      .then(response => {
        let friend = document.getElementById(id)
        friend.classList.remove('button-friend')
        friend.classList.add('button-friend-pending')
      })
      .catch(error => console.log(error))
  }
</script>