<div class="chat-room">

  {{!-- USERS--}}
  <div class="game-users">
    <p class="users-title">Users in the room ({{usersCount}})</p>
    <div class="users-box hp-5">
      {{#each chatRoom.users as |user|}}
      <div class="vm-10 user-detail">
        <p class="hp-5 font-weight-bold">{{user}}</p>
        <div>
          <a href="#" class="hp-5 fa fa-user-plus"></a>
          <a href="#" class="hp-5 fa fa-info-circle"></a>
          <a href="#" class="hp-5 fa fa-envelope"></a>
        </div>
      </div>
      {{/each}}
    </div>
  </div>

  <div class="vertical-split"></div>

  {{!-- CHAT --}}
  <div class="game-chat">
    <div class="game-title hp-10">
      <img class="hp-10" src="{{chatRoom.game.image}}">
      <h1 class="hp-10"> {{chatRoom.game.name}}</h1>
    </div>
    <div class="chat-box">
      {{#each msg as |ms|}}
      <p><span class="font-italic">({{date ms.msgTime}}) <span class="font-weight-bold">{{ms.nickName}}: </span></span>
        <span class="users-message">{{ms.text}}</span></p>
      {{/each}}
    </div>

    {{!-- SEND MESSAGE TO CHAT --}}
    <div class="chat-message">
      <form class="w-100" action="/" method="POST" autocomplete="off">
        <input class="message" type="text" name="message" placeholder="Enter message...">
        <button class="btn-send" type="submit">Send</button>
      </form>
    </div>
  </div>

</div>