<div class="chat-room">

  {{!-- GAME INFO --}}
  <div class="game-users">
    <p class="hp-5 users-title">Users in the room</p>
    <div class="users-box hp-5">
      {{#each chatRoom.users as |user|}}
      <div class="vm-10 user-detail">
        <p class="hp-5 font-weight-bold">{{user}}</p>
        <a class="hp-5 btn-send-private fa fa-envelope"></a>
      </div>
      {{/each}}
    </div>
  </div>

  <div class="vertical-split"></div>

  {{!-- CHAT --}}
  <div class="game-chat">
    <h1 class="hp-5">Game: {{gameDetail.name}}</h1>
    <div class="chat-box">
      {{#each msg as |ms|}}
      <p><span class="font-italic">({{date ms.msgTime}}) <span class="font-weight-bold">{{ms.nickName}}: </span></span>
        <span class="users-message">{{ms.text}}</span></p>
      {{/each}}
    </div>

    {{!-- SEND MESSAGE TO CHAT --}}
    <div class="chat-message">
      <form class="w-100" action="/" method="POST" autocomplete="off">
        <input class="message" type="text" name="message" placeholder="Enter message...">
        <button class="btn-send" type="submit">Send</button>
      </form>
    </div>
  </div>


</div>