<div class="private-message">

  <div class="message-to">
    <div class="message-user-info">
      <img src="{{myUser.avatar}}" alt="Avatar">
      <h1>{{myUser.nickName}}</h1>
    </div>
    <div class="message-to-animation">
      <img src="/img/email.gif">
    </div>
    <div class="message-user-info">
      <img src="{{destinationUser.avatar}}" alt="Avatar">
      <h1>{{destinationUser.nickName}}</h1>
    </div>
  </div>

  <form class="message-form" action="/users/{{destinationUser._id}}/{{gameName}}/privateMessage" method="POST"
    autocomplete="off">
    <input class="subject-message" type="text" name="subject" placeholder="Subject...">
    <textarea class="body-message" type="text" name="body" placeholder="Body..."></textarea>
    <button type="submit" class="btn btn-primary">Send message</button>
  </form>

</div>